<launch>


<arg name = "corridor"/>

<include 
file = "$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
<arg name = "world_file" value =  "$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world "/>
</include>

<!-- <arg name = "startRecord" default = "false" /> -->


<node
pkg = "turtlebot3_roomba"
type = "roomba"
name = "roomba"
output = "screen"
launch-prefix = "gnome-terminal --command"
/>

<!--<node
pkg = "rosbag"
type = "record"
name = "rosbag_record_all"
respawn = "true"
output = "screen"
args = "-a -O File -x /camera/(.*) "
if = "$(arg startRecord)"
/> -->

</launch>
